/* Default styles for larger screens */
.navbar {
  background-color: "#FFF";
  height: 100%; /* Fallback height for larger screens */
  width: 300px;
  padding: var(--mantine-spacing-xs);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xs);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);

    & .linkIcon {
      color: var(--mantine-color-black);
    }
  }

  &[data-active] {
    &,
    &:hover {
      background-color: #fff4e6;
      color: #e88508;

      & .linkIcon {
        color: #e88508;
      }
    }
  }
}

.linkIcon {
  color: var(--mantine-color-gray-6);
  margin-right: var(--mantine-spacing-sm);
  width: 20px;
  height: 20px;
  &:hover {
    background-color: var(--mantine-color-gray-0);
    color: var(--mantine-color-black);

    & .linkIcon {
      color: var(--mantine-color-black);
    }
  }
}

.hoverEffect:hover {
  background-color: #FF9209; /* Change this to your desired background color */
}

.footer {
  border-top: 1px solid var(--mantine-color-gray-3);
  padding-top: 4px;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
  .navbar {
    height: 100vh; /* Use viewport height for responsiveness */
    border-right: none;
  }

  .navbarMain {
    margin-top: 0;
  }

  .link {
    padding: var(--mantine-spacing-xs);
  }
}

/* New styles for hover effect */
.test:hover {
  background-color: ""; /* Your desired background color */
  cursor: pointer;
}

/* Footer hover effect */
.footer:hover {
  background-color: "";/* Your desired background color */
}
